<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278734800670-1ibbcf596tfcc29ic21vp5gf82bk2tki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278734800670-1ibbcf596tfcc29ic21vp5gf82bk2tki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278734800670-n2b13coac3aoa0dra6lk1nn01g737gr8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJsnTJFxUewdHHXf6BnVAZghoh-9ba-6s</string>
	<key>GCM_SENDER_ID</key>
	<string>278734800670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniketmalik.ecommerceStore</string>
	<key>PROJECT_ID</key>
	<string>mstore-pro-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mstore-pro-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278734800670:ios:0890e0a5b6605bc20f2b0f</string>
</dict>
</plist>